@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-purple-them: #d9176c;
  --color-white-bg: #f5f5f5;
  --color-secondery-bg: #3b2f4a;
  --font-open: "Open Sans", sans-serif;
}
